.country-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.visited{
    background-color: cadetblue;
}
.non-visited{
    background-color: bisque;
}

.flag-container img{
    width: 100px;
  
}